<div class="d-flex flex-row cont-top">
  <div class="d-flex flex-column grow">
    <div class="d-flex flex-column look margin-r margin-b">
      <p>Titulo</p>
      <p>Imagem</p>
    </div>
    <div class="d-flex flex-column look margin-r margin-b">
      <p>Titulo</p>
      <p>Imagem</p>
    </div>  
  </div>
  <div class="d-flex flex-column">
    <div class="look margin-b fixedsize">
      <p>Titulo2</p>
      <p>Imagem</p>
    </div>
    <div class="look">
      <p>Titulo2</p>
      <p>Imagem</p>
    </div>
  </div>
</div>