<div class="bg-main">  
  <div class="second">

    <div class="presentation">
      <p>Course Overview</p>
      <div class="d-flex">
        <div class="block" ></div>
        <div class="block"></div>
        <div class="block"></div>
      </div>
    </div>
  
    <div class="presentation">
      <p>New project from:</p>
      <div class="d-flex">
        <div class="block" ></div>
        <div class="block"></div>
        <div class="block"></div>
      </div>
    </div> 
  </div>


  <div class="presentation">
    
    
      <p>Navigation</p>
      <div class="d-flex">
        <div class="block2"></div>
        <div class="block2"></div>
      </div>
    </div>
  
</div>

