.grow {
  flex-grow: 1;
}

.look {
  padding: 32px;
  border: solid 1px #dee2e6;
  border-radius: .25rem;
}
.cont-top {
  margin: 48px 16px 0 16px;
}

.margin-r {
  margin-right: 16px;
}

.margin-b {
  margin-bottom: 16px;
}



.fixedsize {
  width: 350px;
}