.risco {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.parent {
  display: block;
}
.full-coluna {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  transition: 0.4s;
}

._hide {
  transform: translate(-280px); 
  width: calc(100% + 280px);
}