<header class="py-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    
    <!-- <a (click)="onMenuBtnClick()" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false"> -->
    <a (click)="sidebarToggle()" href="#"  class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" id="dropdownNavLink">
        <div class="parent">
        <div class="risco"></div>
        <div class="risco"></div>
        <div class="risco"></div>
      </div>
    </a>  

    <div class="d-flex align-items-center">
      <form class="w-100 me-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <a class="navbar-brand" href="#">{{getFirstName()}} ({{roleSelected}})</a>

      <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://www.debian.org/Pics/openlogo-50.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <p>Troca de Contexto:</p>
          <li *ngFor="let role of roles"><a class="dropdown-item" href="#" (click)="roleChangeClick(role)">{{role}}</a></li>
          <!-- <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- //////////////////////////  -->
<div class="full-coluna" style="display: flex; flex-direction: row;" [ngClass]="{'_hide': !visibility}">
  <div class=" d-flex flex-column flex-shrink-0 p-3 bg-light"  style="width: 280px;">
  
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Customers
        </a>
      </li>
    </ul>

  </div>

  <app-content class="w-100"></app-content>
</div>